// ============================
//    15. Card css start
// ============================

.card {
  box-shadow: var(--pc-card-box-shadow);
  margin-bottom: 24px;
  transition: box-shadow 0.2s ease-in-out;

  .card-header {
    border-bottom: 1px solid var(--bs-card-border-color);

    h5 {
      margin-bottom: 0;
      font-size: 0.875rem;
      font-weight: 600;

      + p,
      + small {
        margin-top: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .card-footer {
    transition: box-shadow 0.2s ease-in-out;
  }

  &:hover {
    .card-footer[class*='bg-'] {
      box-shadow: none;
    }
  }
}

@include media-breakpoint-down(sm) {
  .card:not(.table-card) {
    margin-bottom: 20px;
    .card-header {
      padding: 20px;
      h5 {
        font-size: 0.875rem;
      }
    }
    .card-body {
      padding: 20px;
    }
  }
}

// ============================
//    15. Card css end
// ============================
