/**  =====================
   22. Pages css start
==========================  **/
// contact us page start
.contact-hero {
  padding: 110px 0 50px;
  background-size: cover;
  position: relative;
  justify-content: center;
}

.contact-form {
  padding: 90px 0;
}

.contact-footer {
  position: relative;

  .top-footer {
    background: rgba(255, 255, 255, 0.05);
    padding: 80px 0;
  }

  .bottom-footer {
    padding: 10px 0;
  }

  .footer-link {
    a {
      margin: 14px 0;
      display: block;
      color: var(--bs-primary);

      &:not(:hover) {
        opacity: 0.6;
        color: var(--bs-body-color);
      }
    }
  }

  .footer-sos-link i {
    font-size: 18px;
  }
}

// contact us page end

/* ===================== to do page start ======================================= */
#task-container {
  ul {
    overflow: hidden;
    padding: 0;
  }

  li {
    float: left;
    width: 49%;
    overflow: auto;
    height: auto;
    min-height: 10px;
    background: var(--bs-card-bg);
    display: inline-block;
    padding: 20px;
    border: 1px solid var(--bs-border-color);
    color: var(--bs-body-color);
    border-top: 5px solid var(--bs-primary);
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 2%;
    transition: all 0.3s;
    position: relative;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  li.complete {
    opacity: 1;
    border-top: 9px solid $danger;
    transition: all ease-in 0.3s;

    &:before {
      position: absolute;
      top: 5px;
      right: 5px;
      content: '';
      width: 55px;
      height: 55px;
      background-size: 100%;
    }

    p {
      text-decoration: line-through;
    }
  }
  @media screen and (max-width: 580px) {
    li {
      width: 100%;
    }
  }
}

.new-task {
  .to-do-list {
    .cr {
      float: left;
      top: 0;
      margin-right: 16px;
    }
  }

  label input[type='checkbox'] {
    display: none;
  }
}

.check-task {
  .custom-control-label {
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $primary;
    }
  }
}

.checkbox-fade {
  .cr {
    border-radius: 6px;
    border: 1px solid #e3e3e3;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 24px;
    margin-right: 0.5em;
    position: relative;
    width: 24px;
    margin-right: 16px;
    top: 0;
  }
}

.task-panel {
  .to-do-label {
    margin-bottom: 15px;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding: 0;
    }
  }
}

.done-task .captions,
.done-task span {
  color: #919aa3;
  text-decoration: line-through;
}

.to-do-list {
  i {
    color: #ccc;
    font-size: 17px;
    opacity: 0;
  }

  &:hover {
    i {
      opacity: 1;
      transition: opacity ease-in 0.3s;
    }
  }
}

.to-do-list {
  h6 {
    display: inline-block;
  }

  .done-task {
    opacity: 0.7;

    > div {
      filter: grayscale(0.8);
    }

    h6,
    p,
    span {
      text-decoration: line-through;
    }
  }

  .checkbox-fade {
    .check-task {
      display: block;
    }

    .to-content {
      display: inline-block;
    }

    .cr {
      border-radius: 6px;
      border: 1px solid #e3e3e3;
      cursor: pointer;
      display: inline-block;
      float: left;
      height: 24px;
      margin-right: 0.5em;
      position: relative;
      width: 24px;
      margin: 0;
      top: 5px;

      .cr-icon {
        color: #fff;
        font-size: 1.3em;
        left: 0;
        line-height: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
      }
    }

    label input[type='checkbox'] {
      display: none;
    }

    label input[type='checkbox'] + .cr > .cr-icon {
      transform: scale(3) rotateZ(-20deg);
      opacity: 0;
      transition: all 0.3s ease-in;
    }

    label input[type='checkbox']:checked + .cr > .cr-icon {
      transform: scale(1) rotateZ(0deg);
      opacity: 1;
    }

    label input[type='checkbox']:checked + .cr {
      background: $primary;
      border: 0;
    }
  }
}

new-task {
  .to-do-list {
    .cr {
      float: left;
      top: 0;
      margin-right: 16px;
    }
  }

  label input[type='checkbox'] {
    display: none;
  }
}
/* ===================== to do page end =========================================*/
/* ===================== Invoice page start ===================================== */
.invoice-contact {
  display: flex;
  margin-bottom: 30px;
  padding-top: 30px;
  align-items: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}

.invoice-table.table {
  td {
    border: 0;
    padding: 4px 0;
  }
}

.invoice-info {
  display: flex;
  margin-bottom: 30px;

  h6 {
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .invoice-order.table {
    padding-left: 0;

    th {
      border: 0;
      padding: 4px 0;

      &:first-child {
        padding-left: 0;
        width: 80px;
      }
    }
  }
}

.invoice-total {
  background: transparent;
  border-radius: 6px;
  padding: 14px 0;
  margin-bottom: 20px;
  .table {
    margin-bottom: 0;
    th {
      border: 0;
      padding: 4px 0;
      text-align: right;
    }

    td {
      text-align: right;
    }

    tbody {
      padding-right: 20px;
      float: right;
    }
  }
}

.invoice-summary {
  .label {
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 12px;
  }
}

.invoice-list {
  .btn {
    padding: 5px 10px;
    font-size: 12px;
  }

  .task-list-table {
    display: inline-block;
  }
}
/* ===================== Invoice page end ======================================= */
